@page{size:portrait;}
div.a4{position:relative; width:630px; margin-left:50%; left:-300px;}

div.top > div.left{width:200px; text-align:left;}
div.top > div.center{width:230px; text-align:center;}
div.top > div.right {width:200px; text-align:right;}
div.top.top2{padding-top:16px; font-family: font_tahoma_b; font-size:14px;}
div.top._express > div.left{width:0px;}
div.top._express > div.center{width:0px;}
div.top._express > div.right{width:630px;}

table.normalize1{}
table.normalize1 td{}
table.normalize1 td b{font-family: font_timesnewroman_b;}
table.normalize1 td.td1_1{width:330px; border-left: 1px solid rgb(68, 68, 68);}
table.normalize1 td.td1_2{width:75px;}
table.normalize1 td.td1{text-align:left; border-left: 1px solid rgb(68, 68, 68);}
table.regulation{}
table.regulation td.td1_1{width:40px; white-space: nowrap; border-left: 1px solid rgb(68, 68, 68);}
table.regulation td.td1_2{width:200px;}
table.regulation td.td1_3{width:120px;}
table.regulation td.td2_1{width:60px;}
table.regulation td.td1{border-left: 1px solid rgb(68, 68, 68);}
table.regulation td.td2{text-align:left; width:136px;}
table.regulation td.td3{text-align:left;}

@media print {
	div.a4{
        margin: 0;
        padding: 0;
        top: 0;
        left: 15;
    }
}

table.torder tr td.td_empty {
    border-bottom: none;
}