@font-face {
    font-family: 'font_timesnewroman';
    src: url('fonts/Times/times.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font_timesnewroman_b';
    src: url('fonts/Times/timesbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'font_verdana';
    src: url('fonts/Verdana/verdana.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font_verdana_b';
    src: url('fonts/Verdana/verdanab.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'font_tahoma';
    src: url('fonts/Tahoma/tahoma.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font_tahoma_b';
    src: url('fonts/Tahoma/tahomabd.ttf');
    font-weight: bold;
    font-style: normal;
}




/*body{font-family:font_timesnewroman, sans-serif; font-size:18.5px;}*/
div.a4{}
div.rzd{height:80px; /*80*/}
/*div.ordername{font-size:14px; font-weight:700; text-transform:none;}*/

div.top{} 
div.top > div.oao{text-align:center; text-transform:uppercase; font-family:font_tahoma_b; font-size:14px;}
div.top > div.name{text-align:center; text-transform:uppercase; font-family:font_verdana; font-size:14px; padding-top:10px;}
div.top > div.name > div.t_order{font-size:15px; font-family:font_verdana_b;}

div.top div.express{font-size:14px; font-family:font_timesnewroman; line-height:14px}

div.top div.express_reg{font-size:14px; font-family:font_timesnewroman; font-weight: 600}

div.top div.express_ord_uch{font-size:12px; font-family:font_timesnewroman; line-height:14px; margin-top: -10px;}

div.top div.express div.express_pad{padding-bottom:5px;}

div.middle{padding-top:20px}
div.middle > div.time{font-size:16px;}
div.middle > div.name{padding-top:20px;text-align:center; text-indent:30px; font-family:font_timesnewroman_b;}
div.middle > div.body{padding-top:10px; text-align:justify; font-family:font_timesnewroman;}
div.middle > div.body div.indent{text-indent:30px;}

div.middle_ord_uch{padding-top:20px;margin-top: -10px;}
div.middle_ord_uch > div.time{font-size:16px;}
div.middle_ord_uch > div.name{padding-top:20px;text-align:center; text-indent:30px; font-family:font_timesnewroman_b;}
div.middle_ord_uch > div.body{padding-top:10px; text-align:justify; font-family:font_timesnewroman;}
div.middle_ord_uch > div.body div.indent{text-indent:30px;}


table { width: 100%; }
table.torder{border-top:1px solid #444; /*border-left:1px solid #444;*/}
table.torder{border-left:1px solid #444;}
/*table.torder_left{border-top:none;}*/
table.torder_left{border-left:1px;}
table.torder tr td{border-right:1px solid #444; border-bottom:1px solid #444; text-align:center; vertical-align:middle; font-family:font_timesnewroman; font-size:12px; padding:2px;}
table.torder tr td.empty{border:3px solid #fff;}
table.torder tr td.empty_abs{border:3px solid #fff; left:-1px;position:absolute;}
/*стили таблиц широко расписаны в style_portrait, style_landscape*/

div.bottom{font-family:font_timesnewroman_b;}

div.bottom > div.block {padding-top:40px;}
div.bottom > div.block > div.status{float:left; width:100px;}

div.bottom > div.block > div.hollow { margin-top: -25px; margin-bottom: 25px;}
div.bottom > div.block > div.hollow2 { margin-top: -60px; margin-bottom: 60px;}


div.bottom > div.block > div.signature{float:left; position:relative;}
div.bottom > div.block > div.signature img{width:140px; position:absolute; left:220px; top:-20px;}
div.bottom > div.block > div.signature div{width:400px; position:absolute; text-align:center;}

div.bottom > div.block > div.fio{float:right;}

div.bottom > div.block > div.fio_uch{float:right; margin-top: -50px; margin-bottom: 50px;}

/* div.bottom >  div.comment{text-align:center; } */
div.comment{font-size:16px; text-align:justify; padding-top:40px; }
div.comment div.creates{font-size:14px; font-weight:400}


.flo{float:left;}
.cle{clear:left;}
.cle_r{clear:right;}
.b{font-family:font_tahoma_b;}
div.t_11{font-size:11px;}
div.c{text-align:center;}
div.number{padding-top:38px;font-size:16px;}
p{text-indent:30px;padding:0;margin:0;}
div.b{font-family:font_tahoma_b;}

@media print {
    .page_break{
    'border':none;
    'border-collapse': collapse;
    } 
    .page_break tr{
        border: 1px solid #444;
    }
    @page{margin: 10mm 10mm 10mm 10mm;}
}
@media screen {
    table.page_break{
        border:none;
        border-collapse: collapse;
    }
    .page_break tr{
        border: 1px solid #444;
        border-top:none;
    }
    div.a4{
        height: auto !important;
        padding-bottom: 40px;
    }
}

.div_for_print {
    border-right: none !important;
}